# Redis (docker-compose에서 설정됨)
REDIS_URL=redis://127.0.0.1:6379/0

# NEIS 급식 API
MEAL_API_KEY=
ATPT_OFCDC_SC_CODE=F10
SD_SCHUL_CODE=7380292

# 서울 열린데이터 (한강 수온)
SEOUL_DATA_API_KEY=sample

# Riot Games
RIOT_API_KEY=

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_PLAYLIST_ID=
