DISCORD_TOKEN=

# Database
DB_USER=root
DB_PASSWORD=
DB_NAME=hammer

FLOODING_API_BASE_URL=
FLOODING_API_TIMEOUT=10.0
FLOODING_API_MAX_RETRIES=3
FLOODING_AUTH_TYPE=bearer
M=True
G=False

LOG_LEVEL=INFO
